POSTGRES_DB=anaccount
POSTGRES_USER=anaccount
POSTGRES_PASSWORD=엄준식
POSTGRES_PORT=5432

GOOGLE_CLIENT_ID=엄
GOOGLE_CLIENT_SECRET=준

AMS_HOST=ams.ana.st
AMS_INITIAL_MASTER_KEY=식

OAUTH2_ISSUER_URL=https://accounts.ana.st