.form-fields {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    margin: 1rem 2rem;
}

.field-group {
    display: flex;
    gap: .4rem;
    flex-direction: column;
}

.field-label {
    display: block;
    font-size: 1rem;
    color: var(--color-text);
    letter-spacing: -0.48px;
    line-height: normal;
    white-space: nowrap;
    align-content: center;
    cursor: default;
}

.field-input {
    width: 100%;
    background-color: var(--color-input);
    border: none;
    border-radius: var(--radius-input);
    color: var(--color-text-muted);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 0.8rem;
    outline: none;
    flex-shrink: 0;
    transition: background-color 0.2s ease;
}

.field-input:focus {
    background-color: var(--color-input-focus);
    box-shadow: 0 0 0 1px rgba(92, 109, 155, 0.6);
}
